html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fix-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
}

.footer-detail {
  background-color: gainsboro;
  height: 55px;
}

.footer {
  background-color: #333;
  color: #fff;
  height: 80px;
}

.main-layout {
  max-width: 411px;
  margin: auto;
  box-shadow: '0 0 48px 0 rgba(0,0,0,.2)';
}

.header-page {
  background-color: #f8f9fa;
  /* color: #fff; */
}
.scroll-section {
  overflow-y: auto;
}

.box {
  width: 120px;
  padding: 10px;
  padding-right: 20px;
}

.box p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.kost-title {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
}


.pagination {
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 20px;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}